<input #taskInput type="text" [(ngModel)]="newTaskTitle" placeholder="New Task">
<button (click)="addTask()">Add task</button>
<div>
  <button (click)="setFilter('all')" [ngClass]="{'active-filter': filter === 'all'}">All</button>
  <button (click)="setFilter('active')" [ngClass]="{'active-filter': filter === 'active'}">Active</button>
  <button (click)="setFilter('completed')" [ngClass]="{'active-filter': filter === 'completed'}">Completed</button>
</div>
<p>Remaining {{ remainingTasksCount() }} tasks to do</p>
<ul>
  <li
    *ngFor="let task of filteredTasks"
    class="task-item"
    [@taskAnimation]="task.completed ? 'completed' : 'active'"
    [ngClass]="{'completed':task.completed}"
  >
    <input type="checkbox" [checked]="task.completed" (change)="toggleTask(task.id)">

    <span *ngIf="!task.editing" (dblclick)="editTask(task)">{{ task.title }}</span>
    <input
      *ngIf="task.editing"
      type="text"
      [(ngModel)]="task.title"
      (blur)="saveTask(task)"
      (keyup.enter)="saveTask(task)"
    >
    <span class="timestamp">{{ task.createdAt }}</span>
    <button (click)="deleteTask(task.id)">❌</button>
  </li>
  <button (click)="clearCompletedTasks()">
    Delete completed tasks
  </button>
</ul>
